<div class="px-4 sm:px-0">
  <h3 class="text-base font-semibold leading-7 text-gray-900">Flight Information</h3>
</div>
<div class="mt-6 border-y-4 border-gray-100">
  <dl class="divide-y divide-gray-100">
    <div class="px-4 py-6 sm:grid sm:grid-cols-5 sm:gap-4 sm:px-0">
      <dt class="text-sm font-semibold leading-6 text-gray-900">Origin</dt>
      <dd class="mt-1 flex text-sm font-semibold leading-6 text-gray-900 sm:col-span-4 sm:mt-0">
        <span class="flex-grow">Desitination</span>
        <span class="flex-grow">Date</span>
        <span class="flex-grow">Round trip?</span>
        <span class="ml-4 flex-shrink-0">
          <button type="button" class="rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500">Update</button>
        </span>
      </dd>
    </div>
  </dl>
</div>
